<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    상품 등록
                </div>
                <div class="card-body">
                    <form action="/products/new" method="post">
                        <div class="form-group">
                            <label for="name">이름</label>
                            <input type="text" id="name" name="name" class="form-control" placeholder="이름을 입력하세요">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">등록</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /container -->

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
